# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,visualstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,visualstudio

### Jorin ###
/[Uu]ninclude/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

*.code-workspace
