@font-face {
    font-family: "Fredoka One";
    src: url("assets/fonts/FredokaOne-Regular.ttf") format("truetype");
  }

*{
    font-family: "Fredoka One", sans-serif;;
}

html {
    background-color: #51857f;
    
}

main {
    color: #ffffff;

    .last-modified-date {
        font-style: italic;
        font-weight: bold;
    }

    .information p {
        line-height: 5px;    
    }

    p {
        line-height: 20px;
    }
}