@font-face {
    font-family: "Fredoka One";
    src: url("assets/fonts/FredokaOne-Regular.ttf") format("truetype");
  }
  

html {
    background-color: #51857f;
    
}

main {
    color: #ffffff;

    .last-modified-date {
        font-style: italic;
        font-weight: bold;
    }
}