@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
  border-radius: 20px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #202731;
  /* overflow-x: hidden; */
}

/* header */

header {
  background: #131313;
  box-shadow: 0 0.1em 0.1em #131313;
  height: 80px;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;

  z-index: 999;
}

.navbar-container {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo ion-icon {
  font-size: 2.2rem;
  padding-right: 0.25rem;
  cursor: pointer;
  color: #f9f9f9;
}

.navbar-logo a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #f9f9f9;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links {
  color: #f9f9f9;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar-item::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  border-radius: 1.5px;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar-item:hover::after {
  width: 30%;
}

/* main */

section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
}

.blue {
  background: #3c31dd;
}

.orange {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
}

.spacer {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer:nth-child(1) {
  aspect-ratio: 960/75;
}

.layer1 {
  background-image: url("assets/layer1.svg");
}

.layer2 {
  background-image: url("assets/layer2.svg");
}

.layer1Flip {
  background-image: url("assets/layer1Flip.svg");
}

.layer2Flip {
  background-image: url("assets/layer2Flip.svg");
}

/* home */

.section-home {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-top .left {
  width: 500px;
}

#home-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1rem;
}

#home-description {
  color: #d9d9d9;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.home-top .icon {
  margin-top: 2rem;
}

.home-top .icon a {
  text-decoration: none;
}

.home-top .icon a ion-icon {
  /* margin-right: 1rem; */
  font-size: 2.2rem;
  color: #fff;
}

.home-top .icon a ion-icon:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}

.home-top .right {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 500px;
}

.home-top .right img {
  max-width: 85%;
}

.home-bottom{
  display: flex;
  align-items: center;

  width: 1000px;
}

.home-bottom p {
  font-size: 1.2rem;
}

.home-bottom span {
  width: 3px;
  height: 32px;
  border-radius: 1.5px;
  margin-left: 2rem;
  margin-right: 2rem;

  background: #d9d9d9;
}

.home-bottom .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
}

.home-bottom .icon ion-icon {
  margin-right: 2.5rem;
}

.home-bottom .icon ion-icon:nth-child(5) {
  margin-right: 0;
}

/* footer */

@media screen and (max-width: 1050px) {
  /* header */

  header {
    padding: 0 0px;
  }

  .navbar-menu {
    background: #131313;
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    height: 40vh;
    position: absolute;
    top: -999px;
    opacity: 1;
    transition: all 0.75s ease;

    border-radius: 0 0 15vw 15vw;
    z-index: -1;
  }

  .navbar-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.75s ease;
    z-index: 1;
    font-size: 1.6rem;
  }

  .navbar-logo {
    padding-left: 30px;
  }

  .navbar-toggle {
    padding: 0 10px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #f9f9f9;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* main */

  /* home */

  .home-top {
    flex-direction: column;
  }

  .home-top .left {
    text-align: center;
    width: 100%;
  }

  .home-top .right {
    order: -1;
    justify-content: center;
    width: 100%;
  }

  .home-bottom{
    flex-direction: column;
    margin-top: 2rem;
    max-width: 100%;
  }

  .home-bottom .icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .home-bottom .icon ion-icon {
    font-size: 3.2rem;
    margin-right: 0;
  }

  .home-bottom span {
    width: 10%;
    height: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .home-top .right img {
    transition: all 0.5s ease-in-out;
    max-width: 85%;
  }

  #home-title {
    transition: all 0.5s ease-in-out;
    font-size: 3rem;
  }
  
  #home-description {
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
  }
  
}

@media screen and (max-width: 500px) {
  .home-top .right img {
    transition: all 0.5s ease-in-out;
    max-width: 75%;
  }

  #home-title {
    transition: all 0.5s ease-in-out;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 1rem;
  }
  
  #home-description {
    transition: all 0.5s ease-in-out;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
  
}


/* .home-top .left {
  background-color: red;
}

.home-top .right {
  background-color: blue;
}

.home-bottom{
  background-color: green;
} */