@font-face {
  font-family: "Fredoka One";
  src: url("assets\fonts\FredokaOne-Regular.ttf") format("truetype");
}

:root {
  --backgroundColor: #51857f;
  --innerColor: #b7c8c6;
  --textColor: #405f5b;
  --borderColor: #405f5b;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

  box-sizing: border-box;

  /* transition: 0.25s ease; */

  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

header {
  background-color: #ff0000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 8px 0px 8px;


  .left {
    display: flex;
    justify-content: left;
    align-items: center;

    #logo-container {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--innerColor);
      border-radius: 16px;
      border: 8px solid var(--borderColor);

      width: 80px;
      height: 80px;

      padding: 8px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    #name-container {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--innerColor);
      border-radius: 16px;
      border: 8px solid var(--borderColor);

      width: 240px;
      height: 80px;

      padding: 8px;
      margin-left: 8px;

      p {
        font-family: "Fredoka One", sans-serif;
        font-size: 1.7rem;
        color: var(--textColor);
      }
    }
  }

  .right {
    display: flex;
    justify-content: right;
    align-items: center;

    #hamburger-menu {
      display: none;
    }

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          list-style: none;

          background-color: var(--innerColor);
          border-radius: 16px;
          border: 8px solid var(--borderColor);

          padding: 0.5rem 1rem;

          a {
            text-decoration: none;

            font-family: "Fredoka One", sans-serif;
            font-size: 1.2rem;
            color: var(--textColor);
          }
        }

        li:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}

main {
  background-color: #00ff15;
}

footer {
  background-color: #3700ff;
}
