body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 60px 20px 10px;
  background-color: #1f1f1f;
  color: white;
}

header {
  background: #1f1f1f;
  color: #d3db4a;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  font-size: 28px;
}

header img {
  width: 184px;
  height: 73px;
  margin-left: 30px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #d3db4a;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

nav.active {
  display: flex; /* Show nav when active */
}

nav a:hover {
  background: #d3db4a;
  color: #1f1f1f;
  border-color: #1f1f1f;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #d3db4a;
  margin: 3px 0;
}

main {
  padding-top: 80px; /* Add space for fixed header */
}

section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 20px auto;
  background: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scroll-margin-top: 80px;
}

h1 {
  color: #d3db4a;
  font-size: 28px;
  margin-bottom: 40px;
  text-align: left;
}

p {
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

.games-container,
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-box,
.team-box {
  background: #d3db4a;
  color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 45%;
  max-width: calc(50% - 10px);
}

footer {
  text-align: center;
  padding: 10px;
  background: #1f1f1f;
  color: #d3db4a;
  border-radius: 8px;
}

.socials {
  margin-top: 10px; /* Space above the icons */
}

.social-icon {
  width: 30px; /* Adjust the size as needed */
  height: 30px;
  margin: 0 10px; /* Space between icons */
  transition: transform 0.2s; /* Add hover effect */
}

.social-icon:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: #1f1f1f;
    width: 100%;
    z-index: 999;
  }

  .hamburger {
    display: flex;
  }

  .game-box,
  .team-box {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
